In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import re
import seaborn as sns

In [2]:
mov_train=pd.read_csv("./DataSets/mov_train.csv")
mov_train.head()

,Unnamed: 0,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue,imdb_rating,numVotes
0,0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,5.0,39572.0
1,1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,5.8,82272.0
2,2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,8.5,852772.0
3,3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,8.1,63220.0
4,4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,...,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,5.7,316.0

In [24]:
actors=pd.read_csv(".\DataSets\actors.csv")
actors.head()

FileNotFoundError: [Errno 2] File .\DataSetsctors.csv does not exist: '.\\DataSets\x07ctors.csv'

In [6]:
mov_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             3000 non-null   int64
 1   id                     3000 non-null   int64
 2   belongs_to_collection  604 non-null    object
 3   budget                 3000 non-null   int64
 4   genres                 2993 non-null   object
 5   homepage               946 non-null    object
 6   imdb_id                3000 non-null   object
 7   original_language      3000 non-null   object
 8   original_title         3000 non-null   object
 9   overview               2992 non-null   object
 10  popularity             3000 non-null   float64
 11  poster_path            2999 non-null   object
 12  production_companies   2844 non-null   object
 13  production_countries   2945 non-null   object
 14  release_date           3000 non-null   object
 15  runtime                2998 non-null   float64
 16  spoken_languages       2980 non-null   object
 17  status                 3000 non-null   object
 18  tagline                2403 non-null   object
 19  title                  3000 non-null   object
 20  Keywords               2724 non-null   object
 21  cast                   2987 non-null   object
 22  crew                   2984 non-null   object
 23  revenue                3000 non-null   int64
 24  imdb_rating            2998 non-null   float64
 25  numVotes               2998 non-null   float64
dtypes: float64(4), int64(4), object(18)
memory usage: 609.5+ KB

In [7]:
mov_train['Keywords']

0       [{'id': 4379, 'name': 'time travel'}, {'id': 9...
1       [{'id': 2505, 'name': 'coronation'}, {'id': 42...
2       [{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...
3       [{'id': 10092, 'name': 'mystery'}, {'id': 1054...
4                                                     NaN
                              ...
2995    [{'id': 378, 'name': 'prison'}, {'id': 572, 'n...
2996    [{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...
2997    [{'id': 441, 'name': 'assassination'}, {'id': ...
2998    [{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...
2999    [{'id': 591, 'name': 'cia'}, {'id': 822, 'name...
Name: Keywords, Length: 3000, dtype: object

In [8]:
mov_train.drop(columns = ['id', 'Unnamed: 0','belongs_to_collection','homepage','overview','poster_path','tagline'],inplace=True)

In [9]:
mov_train.head()

,budget,genres,imdb_id,original_language,original_title,popularity,production_companies,production_countries,release_date,runtime,spoken_languages,status,title,Keywords,cast,crew,revenue,imdb_rating,numVotes
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,6.575393,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,5.0,39572.0
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0368933,en,The Princess Diaries 2: Royal Engagement,8.248895,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,5.8,82272.0
2,3300000,"[{'id': 18, 'name': 'Drama'}]",tt2582802,en,Whiplash,64.299990,"[{'name': 'Bold Films', 'id': 2266}, {'name': ...","[{'iso_3166_1': 'US', 'name': 'United States o...",10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,8.5,852772.0
3,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",tt1821480,hi,Kahaani,3.174936,NaN,"[{'iso_3166_1': 'IN', 'name': 'India'}]",3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,8.1,63220.0
4,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",tt1380152,ko,마린보이,1.148070,NaN,"[{'iso_3166_1': 'KR', 'name': 'South Korea'}]",2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,5.7,316.0

In [10]:
mov_train[mov_train['status']!='Released']

,budget,genres,imdb_id,original_language,original_title,popularity,production_companies,production_countries,release_date,runtime,spoken_languages,status,title,Keywords,cast,crew,revenue,imdb_rating,numVotes
609,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 16, 'na...",tt0120254,en,The Swan Princess: Escape from Castle Mountain,5.121309,NaN,NaN,1/1/97,71.0,"[{'iso_639_1': 'da', 'name': 'Dansk'}, {'iso_6...",Rumored,The Swan Princess: Escape from Castle Mountain,"[{'id': 3071, 'name': 'prince'}, {'id': 4456, ...","[{'cast_id': 2, 'character': 'Odette (voice)',...","[{'credit_id': '52fe488bc3a36847f816cfd3', 'de...",273644,5.6,3744.0
1007,0,"[{'id': 35, 'name': 'Comedy'}]",tt1860180,en,Billy Gardell: Halftime,0.007877,NaN,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/5/11,60.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Rumored,Billy Gardell: Halftime,NaN,"[{'cast_id': 9, 'character': 'Himself', 'credi...","[{'credit_id': '52fe4be1c3a368484e19d265', 'de...",60,7.6,111.0
1216,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",tt0091024,en,Extremities,10.273979,"[{'name': 'Atlantic Entertainment Group', 'id'...","[{'iso_3166_1': 'US', 'name': 'United States o...",8/22/86,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Rumored,Extremities,"[{'id': 2483, 'name': 'nudity'}, {'id': 2539, ...","[{'cast_id': 1, 'character': 'Marjorie', 'cred...","[{'credit_id': '582cca1c925141780b00259f', 'de...",13418091,6.3,3982.0
1618,891000,"[{'id': 99, 'name': 'Documentary'}]",tt0145394,en,A Place Called Chiapas,0.179246,NaN,"[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2/20/98,89.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Rumored,A Place Called Chiapas,"[{'id': 187056, 'name': 'woman director'}]","[{'cast_id': 1, 'character': 'Himself', 'credi...","[{'credit_id': '57b4f7619251417287000dfc', 'de...",229000,7.4,392.0

In [11]:
mov_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                3000 non-null   int64
 1   genres                2993 non-null   object
 2   imdb_id               3000 non-null   object
 3   original_language     3000 non-null   object
 4   original_title        3000 non-null   object
 5   popularity            3000 non-null   float64
 6   production_companies  2844 non-null   object
 7   production_countries  2945 non-null   object
 8   release_date          3000 non-null   object
 9   runtime               2998 non-null   float64
 10  spoken_languages      2980 non-null   object
 11  status                3000 non-null   object
 12  title                 3000 non-null   object
 13  Keywords              2724 non-null   object
 14  cast                  2987 non-null   object
 15  crew                  2984 non-null   object
 16  revenue               3000 non-null   int64
 17  imdb_rating           2998 non-null   float64
 18  numVotes              2998 non-null   float64
dtypes: float64(4), int64(2), object(13)
memory usage: 445.4+ KB

In [58]:
budget_zero = mov_train[mov_train['budget']==0]
print(budget_zero)

      budget                                             genres    imdb_id  \
4          0  [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...  tt1380152
7          0                [{'id': 99, 'name': 'Documentary'}]  tt0391024
8          0  [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...  tt0117110
11         0                     [{'id': 35, 'name': 'Comedy'}]  tt0093857
17         0  [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...  tt1700845
...      ...                                                ...        ...
2989       0  [{'id': 16, 'name': 'Animation'}, {'id': 10751...  tt0206367
2990       0  [{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...  tt0118663
2994       0                      [{'id': 18, 'name': 'Drama'}]  tt0105327
2995       0  [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...  tt0109403
2996       0  [{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...  tt2364975

     original_language                              original_title  \
4                   ko                                        마린보이
7                   en                                Control Room
8                   en                      Muppet Treasure Island
11                  en  Revenge of the Nerds II: Nerds in Paradise
17                  en                         The Invisible Woman
...                ...                                         ...
2989                en                     The Trumpet Of The Swan
2990                en                                    B.A.P.S.
2994                en                                 School Ties
2995                en                                     Chasers
2996                sv                                 Vi är bäst!

      popularity                               production_companies  \
4       1.148070                                                NaN
7       1.949044                                                NaN
8       6.902423  [{'name': 'Walt Disney Pictures', 'id': 2}, {'...
11     10.543750  [{'name': 'Twentieth Century Fox Film Corporat...
17      4.183558  [{'name': 'BBC Films', 'id': 288}, {'name': 'H...
...          ...                                                ...
2989    0.851599  [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2990    1.560980  [{'name': 'New Line Cinema', 'id': 12}, {'name...
2994    7.438381          [{'name': 'Paramount Pictures', 'id': 4}]
2995    9.853270  [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
2996    3.727996  [{'name': 'Memfis Film', 'id': 321}, {'name': ...

                                   production_countries release_date  runtime  \
4         [{'iso_3166_1': 'KR', 'name': 'South Korea'}]       2/5/09    118.0
7                                                   NaN      1/15/04     84.0
8     [{'iso_3166_1': 'US', 'name': 'United States o...      2/16/96    100.0
11    [{'iso_3166_1': 'US', 'name': 'United States o...      7/10/87     98.0
17     [{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]     12/25/13    111.0
...                                                 ...          ...      ...
2989  [{'iso_3166_1': 'US', 'name': 'United States o...      5/11/01     75.0
2990                                                NaN      3/28/97     90.0
2994  [{'iso_3166_1': 'US', 'name': 'United States o...      9/18/92    106.0
2995  [{'iso_3166_1': 'US', 'name': 'United States o...      4/22/94    102.0
2996  [{'iso_3166_1': 'DK', 'name': 'Denmark'}, {'is...      3/28/13    102.0

      ...                                           Keywords  \
4     ...                                                NaN
7     ...  [{'id': 917, 'name': 'journalism'}, {'id': 163...
8     ...  [{'id': 2041, 'name': 'island'}, {'id': 4418, ...
11    ...  [{'id': 5801, 'name': 'nerd'}, {'id': 6876, 'n...
17    ...  [{'id': 5565, 'name': 'biography'}, {'id': 180...
...   ...                                                ...
2989  ...  [{'id': 6653, 'name': 'trumpet'}, {'id': 10407...
2990  ...  [{'id': 1437, 'name': 'burglar'}, {'id': 1946,...
2994  ...  [{'id': 6075, 'name': 'sport'}, {'id': 10144, ...
2995  ...  [{'id': 378, 'name': 'prison'}, {'id': 572, 'n...
2996  ...  [{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...

                                                   cast  \
4     [{'cast_id': 3, 'character': 'Chun-soo', 'cred...
7     [{'cast_id': 2, 'character': 'Himself', 'credi...
8     [{'cast_id': 1, 'character': 'Long John Silver...
11    [{'cast_id': 2, 'character': 'Lewis Skolnick',...
17    [{'cast_id': 7, 'character': 'Charles Dickens'...
...                                                 ...
2989  [{'cast_id': 1, 'character': 'Father', 'credit...
2990  [{'cast_id': 3, 'character': 'Nisi', 'credit_i...
2994  [{'cast_id': 2, 'character': 'David Greene', '...
2995  [{'cast_id': 2, 'character': 'Rock Reilly', 'c...
2996  [{'cast_id': 5, 'character': 'Bobo', 'credit_i...

                                                   crew   revenue imdb_rating  \
4     [{'credit_id': '52fe464b9251416c75073b43', 'de...   3923970         5.7
7     [{'credit_id': '52fe47a69251416c750a0daf', 'de...   2586511         7.7
8     [{'credit_id': '52fe43c89251416c7501deb3', 'de...  34327391         6.9
11    [{'credit_id': '52fe46f49251416c750891e9', 'de...  22642033         5.0
17    [{'credit_id': '53b94a260e0a2676c7009b37', 'de...   1234254         6.1
...                                                 ...       ...         ...
2989  [{'credit_id': '58bc9d609251416084044b0e', 'de...    100202         5.0
2990  [{'credit_id': '52fe477b9251416c7509af57', 'de...   7240837         4.6
2994  [{'credit_id': '5637777ac3a3681b4d01f9f5', 'de...  14715067         6.9
2995  [{'credit_id': '52fe4494c3a368484e02ac7d', 'de...   1596687         5.1
2996  [{'credit_id': '5716b72ac3a3686678012c84', 'de...    180590         7.1

     numVotes  month  year  infl_budget  infl_revenue
4       316.0      2  2009          0.0  5.451153e+06
7      5175.0      1  2004          0.0  4.080454e+06
8     24612.0      2  1996          0.0  6.519999e+07
11    14602.0      7  1987          0.0  5.941859e+07
17    10048.0     12  2013          0.0  1.579204e+06
...       ...    ...   ...          ...           ...
2989   1191.0      5  2001          0.0  1.686512e+05
2990   5521.0      3  1997          0.0  1.344348e+07
2994  24984.0      9  1992          0.0  3.126291e+07
2995   6747.0      4  1994          0.0  3.211477e+06
2996  10768.0      3  2013          0.0  2.310614e+05

[812 rows x 23 columns]

In [59]:
budget_zero.head()

,budget,genres,imdb_id,original_language,original_title,popularity,production_companies,production_countries,release_date,runtime,...,Keywords,cast,crew,revenue,imdb_rating,numVotes,month,year,infl_budget,infl_revenue
4,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",tt1380152,ko,마린보이,1.148070,NaN,"[{'iso_3166_1': 'KR', 'name': 'South Korea'}]",2/5/09,118.0,...,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,5.7,316.0,2,2009,0.0,5.451153e+06
7,0,"[{'id': 99, 'name': 'Documentary'}]",tt0391024,en,Control Room,1.949044,NaN,NaN,1/15/04,84.0,...,"[{'id': 917, 'name': 'journalism'}, {'id': 163...","[{'cast_id': 2, 'character': 'Himself', 'credi...","[{'credit_id': '52fe47a69251416c750a0daf', 'de...",2586511,7.7,5175.0,1,2004,0.0,4.080454e+06
8,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",tt0117110,en,Muppet Treasure Island,6.902423,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...","[{'iso_3166_1': 'US', 'name': 'United States o...",2/16/96,100.0,...,"[{'id': 2041, 'name': 'island'}, {'id': 4418, ...","[{'cast_id': 1, 'character': 'Long John Silver...","[{'credit_id': '52fe43c89251416c7501deb3', 'de...",34327391,6.9,24612.0,2,1996,0.0,6.519999e+07
11,0,"[{'id': 35, 'name': 'Comedy'}]",tt0093857,en,Revenge of the Nerds II: Nerds in Paradise,10.543750,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",7/10/87,98.0,...,"[{'id': 5801, 'name': 'nerd'}, {'id': 6876, 'n...","[{'cast_id': 2, 'character': 'Lewis Skolnick',...","[{'credit_id': '52fe46f49251416c750891e9', 'de...",22642033,5.0,14602.0,7,1987,0.0,5.941859e+07
17,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",tt1700845,en,The Invisible Woman,4.183558,"[{'name': 'BBC Films', 'id': 288}, {'name': 'H...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",12/25/13,111.0,...,"[{'id': 5565, 'name': 'biography'}, {'id': 180...","[{'cast_id': 7, 'character': 'Charles Dickens'...","[{'credit_id': '53b94a260e0a2676c7009b37', 'de...",1234254,6.1,10048.0,12,2013,0.0,1.579204e+06

In [77]:
genres=set()
for item in budget_zero.genres:
    if(type(item)==str):
        x=re.finditer("(\'name\':\s\')(?P<name>\w*)(?=\')",item)
        for s in x:
            genres.add(s.groupdict()['name'])
print(genres)

set()

In [14]:
type(mov_train['release_date'].iloc[5])

str

In [15]:
mov_train['month']=0

In [16]:
mov_train['year']=0

In [17]:
for j in mov_train.index:
    str=mov_train['release_date'].iloc[j]
    x=re.findall("([\d]{1,2})/([\d]{1,2})/([\d]{1,2})",str)
    mov_train.loc[j,"month"] = int(x[0][0])
    year = int(x[0][2])
    if year<23:
        mov_train.loc[j,"year"] = 2000 + year
    else:
        mov_train.loc[j,"year"] = 1900+ year

In [18]:
mov_train.head()

,budget,genres,imdb_id,original_language,original_title,popularity,production_companies,production_countries,release_date,runtime,...,status,title,Keywords,cast,crew,revenue,imdb_rating,numVotes,month,year
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,6.575393,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",2/20/15,93.0,...,Released,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,5.0,39572.0,2,2015
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0368933,en,The Princess Diaries 2: Royal Engagement,8.248895,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",8/6/04,113.0,...,Released,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,5.8,82272.0,8,2004
2,3300000,"[{'id': 18, 'name': 'Drama'}]",tt2582802,en,Whiplash,64.299990,"[{'name': 'Bold Films', 'id': 2266}, {'name': ...","[{'iso_3166_1': 'US', 'name': 'United States o...",10/10/14,105.0,...,Released,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,8.5,852772.0,10,2014
3,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",tt1821480,hi,Kahaani,3.174936,NaN,"[{'iso_3166_1': 'IN', 'name': 'India'}]",3/9/12,122.0,...,Released,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,8.1,63220.0,3,2012
4,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",tt1380152,ko,마린보이,1.148070,NaN,"[{'iso_3166_1': 'KR', 'name': 'South Korea'}]",2/5/09,118.0,...,Released,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,5.7,316.0,2,2009

In [19]:
mov_train['year'].min()

1924

In [20]:
inflation=pd.read_csv(".\DataSets\inflation_data.csv")

In [54]:
inflation.loc[0,'amount']

1.0

In [21]:
inflation.head()

   year  amount  inflation rate
0  1900    1.00            0.01
1  1901    1.01            0.01
2  1902    1.02            0.01
3  1903    1.05            0.02
4  1904    1.06            0.01

In [25]:
revenue_zero = mov_train[mov_train['revenue']==0]
print(revenue_zero)

Empty DataFrame
Columns: [budget, genres, imdb_id, original_language, original_title, popularity, production_companies, production_countries, release_date, runtime, spoken_languages, status, title, Keywords, cast, crew, revenue, imdb_rating, numVotes, month, year]
Index: []

[0 rows x 21 columns]

In [29]:
mov_train['infl_budget']=0
mov_train['infl_revenue']=0

In [33]:
mov_train.head()

,budget,genres,imdb_id,original_language,original_title,popularity,production_companies,production_countries,release_date,runtime,...,Keywords,cast,crew,revenue,imdb_rating,numVotes,month,year,infl_budget,infl_revenue
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,6.575393,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",2/20/15,93.0,...,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,5.0,39572.0,2,2015,0,0
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0368933,en,The Princess Diaries 2: Royal Engagement,8.248895,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",8/6/04,113.0,...,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,5.8,82272.0,8,2004,0,0
2,3300000,"[{'id': 18, 'name': 'Drama'}]",tt2582802,en,Whiplash,64.299990,"[{'name': 'Bold Films', 'id': 2266}, {'name': ...","[{'iso_3166_1': 'US', 'name': 'United States o...",10/10/14,105.0,...,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,8.5,852772.0,10,2014,0,0
3,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",tt1821480,hi,Kahaani,3.174936,NaN,"[{'iso_3166_1': 'IN', 'name': 'India'}]",3/9/12,122.0,...,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,8.1,63220.0,3,2012,0,0
4,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",tt1380152,ko,마린보이,1.148070,NaN,"[{'iso_3166_1': 'KR', 'name': 'South Korea'}]",2/5/09,118.0,...,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,5.7,316.0,2,2009,0,0

In [32]:
mov_train.drop(columns = ['inflation adjusted budget','inflation adjusted revenue'],inplace=True)

In [56]:
for j in mov_train.index:
    x = mov_train.loc[j,"year"]
    y = inflation.loc[x-1900,'amount']
    mov_train.loc[j,'infl_budget'] = mov_train.loc[j,'budget']*35.48/y
    mov_train.loc[j,'infl_revenue'] = mov_train.loc[j,'revenue']*35.48/y
    
mov_train.head()

,budget,genres,imdb_id,original_language,original_title,popularity,production_companies,production_countries,release_date,runtime,...,Keywords,cast,crew,revenue,imdb_rating,numVotes,month,year,infl_budget,infl_revenue
0,14000000,"[{'id': 35, 'name': 'Comedy'}]",tt2637294,en,Hot Tub Time Machine 2,6.575393,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",2/20/15,93.0,...,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,5.0,39572.0,2,2015,1.760170e+07,1.548277e+07
1,40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",tt0368933,en,The Princess Diaries 2: Royal Engagement,8.248895,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",8/6/04,113.0,...,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,5.8,82272.0,8,2004,6.310360e+07,1.501068e+08
2,3300000,"[{'id': 18, 'name': 'Drama'}]",tt2582802,en,Whiplash,64.299990,"[{'name': 'Bold Films', 'id': 2266}, {'name': ...","[{'iso_3166_1': 'US', 'name': 'United States o...",10/10/14,105.0,...,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,8.5,852772.0,10,2014,4.154862e+06,1.648347e+07
3,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",tt1821480,hi,Kahaani,3.174936,NaN,"[{'iso_3166_1': 'IN', 'name': 'India'}]",3/9/12,122.0,...,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,8.1,63220.0,3,2012,1.557849e+06,2.077131e+07
4,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",tt1380152,ko,마린보이,1.148070,NaN,"[{'iso_3166_1': 'KR', 'name': 'South Korea'}]",2/5/09,118.0,...,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,5.7,316.0,2,2009,0.000000e+00,5.451153e+06

In [76]:
for j in budget_zero.index:
    x = budget_zero.loc[j,'year']
    this_genres=set()
    item = budget_zero.loc[j,'genres']
    print(type(item))
    if(type(item)==str):
        y=re.finditer("(\'name\':\s\')(?P<name>\w*)(?=\')",item)
        for s in y:
            this_genres.add(s.groupdict()['name'])
        print(type(item))
    total = 0
    count = 0
    for k in mov_train.index:
        if k not in budget_zero.index:
            if abs(mov_train.loc[k,'year'] - x)<= 3:
                total = total + mov_train.loc[k,'infl_budget']
                count = count + 1
    average = total/count
    print(average)

<class 'str'>
48127577.57077508
<class 'str'>
57598731.37849787
<class 'str'>
61968749.56155182
<class 'str'>
39980225.697518624
<class 'str'>
46825998.166687064
<class 'str'>
47287772.83552772
<class 'str'>
47547729.94319501
<class 'str'>
54378983.29962007
<class 'str'>
49087783.93988684
<class 'str'>
56806914.6809453
<class 'str'>
49911032.051784344
<class 'str'>
62793757.898789495
<class 'str'>
46825998.166687064
<class 'str'>
54378983.29962007
<class 'str'>
49935540.621165544
<class 'str'>
38313894.83855372
<class 'str'>
39686681.86311123
<class 'str'>
52539494.66481477
<class 'str'>
48127577.57077508
<class 'str'>
49638013.33638592
<class 'str'>
64469814.35716777
<class 'str'>
46825998.166687064
<class 'str'>
57598731.37849787
<class 'str'>
57598731.37849787
<class 'str'>
39401858.68795536
<class 'str'>
52539494.66481477
<class 'str'>
60755370.99139391
<class 'str'>
49638013.33638592
<class 'str'>
47287772.83552772
<class 'str'>
47547729.94319501
<class 'str'>
51506226.28525597
<class 'str'>
47287772.83552772
<class 'str'>
49911032.051784344
<class 'str'>
47287772.83552772
<class 'str'>
51506226.28525597
<class 'str'>
52539494.66481477
<class 'str'>
37292479.976284176
<class 'str'>
62793757.898789495
<class 'str'>
47287772.83552772
<class 'str'>
47973481.31499585
<class 'str'>
58745979.665650345
<class 'str'>
50312605.399138026
<class 'str'>
39686681.86311123
<class 'str'>
49087783.93988684
<class 'str'>
38313894.83855372
<class 'str'>
50312605.399138026
<class 'str'>
39686681.86311123
<class 'str'>
38716855.07865882
<class 'str'>
58003580.92707318
<class 'str'>
39686681.86311123
<class 'str'>
42230728.5781047
<class 'str'>
38768803.355597876
<class 'str'>
37032504.03405683
<class 'str'>
39980225.697518624
<class 'str'>
62384704.1409794
<class 'str'>
60996336.04866365
<class 'str'>
44171472.094198056
<class 'str'>
49911032.051784344
<class 'str'>
50312605.399138026
<class 'str'>
38716855.07865882
<class 'str'>
49638013.33638592
<class 'str'>
49087783.93988684
<class 'str'>
58003580.92707318
<class 'str'>
52539494.66481477
<class 'str'>
38313894.83855372
<class 'str'>
49087783.93988684
<class 'str'>
50312605.399138026
<class 'str'>
58745979.665650345
<class 'str'>
46825998.166687064
<class 'str'>
48127577.57077508
<class 'str'>
51506226.28525597
<class 'str'>
37292479.976284176
<class 'str'>
62384704.1409794
<class 'str'>
48127577.57077508
<class 'str'>
59969805.39289955
<class 'str'>
39159628.09075658
<class 'str'>
47287772.83552772
<class 'str'>
59969805.39289955
<class 'str'>
39686681.86311123
<class 'str'>
47973481.31499585
<class 'str'>
57598731.37849787
<class 'str'>
51506226.28525597
<class 'str'>
46825998.166687064
<class 'str'>
50312605.399138026
<class 'str'>
63376110.345195316
<class 'str'>
58003580.92707318
<class 'str'>
62384704.1409794
<class 'str'>
48127577.57077508
<class 'str'>
56806914.6809453
<class 'str'>
52539494.66481477
<class 'str'>
39686681.86311123
<class 'str'>
60755370.99139391
<class 'str'>
37586139.78761913
<class 'str'>
38768803.355597876
<class 'str'>
29156602.62903006
<class 'str'>
47973481.31499585
<class 'str'>
49911032.051784344
<class 'str'>
56806914.6809453
<class 'str'>
38768803.355597876
<class 'str'>
39686681.86311123
<class 'str'>
36461977.34455479
<class 'str'>
49935540.621165544
<class 'str'>
50312605.399138026
<class 'str'>
63376110.345195316
<class 'str'>
50312605.399138026
<class 'str'>
39686681.86311123
<class 'str'>
50460262.79229247
<class 'str'>
47287772.83552772
<class 'str'>
47973481.31499585
<class 'str'>
50312605.399138026
<class 'str'>
49638013.33638592
<class 'str'>
46825998.166687064
<class 'str'>
42230728.5781047
<class 'str'>
49911032.051784344
<class 'str'>
46825998.166687064
<class 'str'>
42230728.5781047
<class 'str'>
52539494.66481477
<class 'str'>
49638013.33638592
<class 'str'>
37032504.03405683
<class 'str'>
47287772.83552772
<class 'str'>
48127577.57077508
<class 'str'>
39980225.697518624
<class 'str'>
49911032.051784344
<class 'str'>
50460262.79229247
<class 'str'>
62384704.1409794
<class 'str'>
37032504.03405683
<class 'str'>
39686681.86311123
<class 'str'>
50312605.399138026
<class 'str'>
49911032.051784344
<class 'str'>
39686681.86311123
<class 'str'>
51506226.28525597
<class 'str'>
37586139.78761913
<class 'str'>
42230728.5781047
<class 'str'>
39980225.697518624
<class 'str'>
47287772.83552772
<class 'str'>
52539494.66481477
<class 'str'>
30660074.227626827
<class 'str'>
52539494.66481477
<class 'str'>
37032504.03405683
<class 'str'>
54378983.29962007
<class 'str'>
46779836.71663931
<class 'str'>
50460262.79229247
<class 'str'>
40074031.23391762
<class 'str'>
50312605.399138026
<class 'str'>
49911032.051784344
<class 'str'>
56806914.6809453
<class 'str'>
50312605.399138026
<class 'str'>
47547729.94319501
<class 'str'>
56806914.6809453
<class 'str'>
52539494.66481477
<class 'str'>
11005697.29119354
<class 'str'>
49911032.051784344
<class 'str'>
51506226.28525597
<class 'str'>
46825998.166687064
<class 'str'>
36461977.34455479
<class 'str'>
48127577.57077508
<class 'str'>
43263588.76395311
<class 'str'>
49935540.621165544
<class 'str'>
28422914.762414083
<class 'str'>
37586139.78761913
<class 'str'>
49911032.051784344
<class 'str'>
39980225.697518624
<class 'str'>
63376110.345195316
<class 'str'>
58745979.665650345
<class 'str'>
59969805.39289955
<class 'str'>
46825998.166687064
<class 'str'>
49911032.051784344
<class 'str'>
47547729.94319501
<class 'str'>
62384704.1409794
<class 'str'>
49638013.33638592
<class 'str'>
47973481.31499585
<class 'str'>
38768803.355597876
<class 'str'>
57598731.37849787
<class 'str'>
52539494.66481477
<class 'str'>
64469814.35716777
<class 'str'>
52759955.31376074
<class 'str'>
39401858.68795536
<class 'str'>
23905580.9020449
<class 'str'>
20693144.377883874
<class 'str'>
64469814.35716777
<class 'str'>
37032504.03405683
<class 'str'>
47287772.83552772
<class 'str'>
58003580.92707318
<class 'str'>
47973481.31499585
<class 'str'>
46825998.166687064
<class 'str'>
59969805.39289955
<class 'str'>
47547729.94319501
<class 'str'>
52539494.66481477
<class 'str'>
43263588.76395311
<class 'str'>
46825998.166687064
<class 'str'>
56944843.94387218
<class 'str'>
38716855.07865882
<class 'str'>
49087783.93988684
<class 'str'>
49911032.051784344
<class 'str'>
47547729.94319501
<class 'str'>
36461977.34455479
<class 'str'>
52539494.66481477
<class 'str'>
49087783.93988684
<class 'str'>
49911032.051784344
<class 'str'>
37586139.78761913
<class 'str'>
39686681.86311123
<class 'str'>
47287772.83552772
<class 'str'>
44171472.094198056
<class 'str'>
58003580.92707318
<class 'str'>
42230728.5781047
<class 'str'>
44171472.094198056
<class 'str'>
47287772.83552772
<class 'str'>
64469814.35716777
<class 'str'>
39401858.68795536
<class 'str'>
52539494.66481477
<class 'str'>
50460262.79229247
<class 'str'>
42230728.5781047
<class 'str'>
49911032.051784344
<class 'str'>
62384704.1409794
<class 'str'>
62793757.898789495
<class 'str'>
47973481.31499585
<class 'str'>
47547729.94319501
<class 'str'>
49638013.33638592
<class 'str'>
49087783.93988684
<class 'str'>
52539494.66481477
<class 'str'>
50460262.79229247
<class 'str'>
50460262.79229247
<class 'str'>
48127577.57077508
<class 'str'>
47547729.94319501
<class 'str'>
46825998.166687064
<class 'str'>
37032504.03405683
<class 'str'>
50460262.79229247
<class 'str'>
67834010.6837834
<class 'str'>
43263588.76395311
<class 'str'>
47973481.31499585
<class 'str'>
54378983.29962007
<class 'str'>
54378983.29962007
<class 'str'>
62793757.898789495
<class 'str'>
50312605.399138026
<class 'str'>
37586139.78761913
<class 'str'>
49638013.33638592
<class 'str'>
47547729.94319501
<class 'str'>
50460262.79229247
<class 'str'>
56806914.6809453
<class 'str'>
44171472.094198056
<class 'str'>
48127577.57077508
<class 'str'>
51506226.28525597
<class 'str'>
37032504.03405683
<class 'str'>
64469814.35716777
<class 'str'>
46825998.166687064
<class 'str'>
37292479.976284176
<class 'str'>
47287772.83552772
<class 'str'>
60996336.04866365
<class 'str'>
42230728.5781047
<class 'str'>
47547729.94319501
<class 'str'>
37292479.976284176
<class 'str'>
54378983.29962007
<class 'str'>
49911032.051784344
<class 'str'>
36461977.34455479
<class 'str'>
47287772.83552772
<class 'str'>
46825998.166687064
<class 'str'>
47287772.83552772
<class 'str'>

58003580.92707318
<class 'str'>
39980225.697518624
<class 'str'>
39980225.697518624
<class 'str'>
59969805.39289955
<class 'str'>
46825998.166687064
<class 'str'>
46825998.166687064
<class 'str'>
39980225.697518624
<class 'str'>
50460262.79229247
<class 'str'>
46825998.166687064
<class 'str'>
60755370.99139391
<class 'str'>
58003580.92707318
<class 'str'>
64082850.879234
<class 'str'>
50460262.79229247
<class 'str'>
50460262.79229247
<class 'str'>
39980225.697518624
<class 'str'>
50460262.79229247
<class 'str'>
50460262.79229247
<class 'str'>
39980225.697518624
<class 'str'>
47547729.94319501
<class 'str'>
47287772.83552772
<class 'str'>
58745979.665650345
<class 'str'>
49911032.051784344
<class 'str'>
44171472.094198056
<class 'str'>
35383346.863543205
<class 'str'>
57598731.37849787
<class 'str'>
47547729.94319501
<class 'str'>
37032504.03405683
<class 'str'>
47547729.94319501
<class 'str'>
59969805.39289955
<class 'str'>
47287772.83552772
<class 'str'>
38716855.07865882
<class 'str'>
46825998.166687064
<class 'str'>
38716855.07865882
<class 'str'>
62384704.1409794
<class 'str'>
52759955.31376074
<class 'str'>
47287772.83552772
<class 'str'>
39686681.86311123
<class 'str'>
42230728.5781047
<class 'str'>
43263588.76395311
<class 'str'>
57598731.37849787
<class 'str'>
47287772.83552772
<class 'str'>
39686681.86311123
<class 'str'>
37032504.03405683
<class 'str'>
48127577.57077508
<class 'str'>
39980225.697518624
<class 'str'>
60755370.99139391
<class 'str'>
57598731.37849787
<class 'str'>
46825998.166687064
<class 'str'>
47547729.94319501
<class 'str'>
49911032.051784344
<class 'str'>
54378983.29962007
<class 'str'>
38716855.07865882
<class 'str'>
39686681.86311123
<class 'str'>
59969805.39289955
<class 'str'>
50460262.79229247
<class 'str'>
47973481.31499585
<class 'str'>
44171472.094198056
<class 'str'>
39980225.697518624
<class 'str'>
58745979.665650345
<class 'str'>
58003580.92707318
<class 'str'>
38768803.355597876
<class 'str'>
39522384.217369035
<class 'str'>
49911032.051784344
<class 'str'>
48127577.57077508
<class 'str'>
58003580.92707318
<class 'str'>
47547729.94319501
<class 'str'>
49911032.051784344
<class 'str'>
58003580.92707318
<class 'str'>
50312605.399138026
<class 'str'>
7563894.929889549
<class 'str'>
36461977.34455479
<class 'str'>
46825998.166687064
<class 'str'>
50460262.79229247
<class 'str'>
48127577.57077508
<class 'str'>
48127577.57077508
<class 'str'>
43112617.2798114
<class 'str'>
37032504.03405683
<class 'str'>
52539494.66481477
<class 'str'>
38313894.83855372
<class 'str'>
46825998.166687064
<class 'str'>
37032504.03405683
<class 'str'>
54378983.29962007
<class 'str'>
49935540.621165544
<class 'str'>
39980225.697518624
<class 'str'>
56806914.6809453
<class 'str'>
60996336.04866365
<class 'str'>
47973481.31499585
<class 'str'>
50312605.399138026
<class 'str'>
37586139.78761913
<class 'str'>
37292479.976284176
<class 'str'>
49911032.051784344
<class 'str'>
51506226.28525597
<class 'str'>
47287772.83552772
<class 'str'>
59969805.39289955
<class 'str'>
62384704.1409794
<class 'str'>
47973481.31499585
<class 'str'>
33099445.110467732
<class 'str'>
42230728.5781047
<class 'str'>
49087783.93988684
<class 'str'>
47287772.83552772
<class 'str'>
49911032.051784344
<class 'str'>
39980225.697518624
<class 'str'>
50312605.399138026
<class 'str'>
30660074.227626827
<class 'str'>
64469814.35716777
<class 'str'>
49911032.051784344
<class 'str'>
49638013.33638592
<class 'str'>
50312605.399138026
<class 'str'>
47547729.94319501
<class 'str'>
47973481.31499585
<class 'str'>
51506226.28525597
<class 'str'>
58003580.92707318
<class 'str'>
49638013.33638592
<class 'str'>
49638013.33638592
<class 'str'>
56806914.6809453
<class 'str'>
43263588.76395311
<class 'str'>
44171472.094198056
<class 'str'>
38768803.355597876
<class 'str'>
47287772.83552772
<class 'str'>
56806914.6809453
<class 'str'>
33099445.110467732
<class 'str'>
50460262.79229247
<class 'str'>
62384704.1409794
<class 'str'>
64082850.879234
<class 'str'>
49935540.621165544
<class 'str'>
35383346.863543205
<class 'str'>
38313894.83855372
<class 'str'>
47287772.83552772
<class 'str'>
7563894.929889549
<class 'str'>
39401858.68795536
<class 'str'>
56806914.6809453
<class 'str'>
69424563.15335055
<class 'str'>
49935540.621165544
<class 'str'>
54378983.29962007
<class 'str'>
47287772.83552772
<class 'str'>
56806914.6809453
<class 'str'>
50312605.399138026
<class 'str'>
50312605.399138026
<class 'str'>
50460262.79229247
<class 'str'>
44171472.094198056
<class 'str'>
47547729.94319501
<class 'str'>
49087783.93988684
<class 'str'>
50460262.79229247
<class 'str'>
37032504.03405683
<class 'str'>
57598731.37849787
<class 'str'>
47973481.31499585
<class 'str'>
37586139.78761913
<class 'str'>
47547729.94319501
<class 'str'>
39686681.86311123
<class 'str'>
49087783.93988684
<class 'str'>
50460262.79229247
<class 'str'>
49911032.051784344
<class 'str'>
59969805.39289955
<class 'str'>
46825998.166687064
<class 'str'>
46825998.166687064
<class 'str'>
38313894.83855372
<class 'str'>
47973481.31499585
<class 'str'>
39686681.86311123
<class 'str'>
49935540.621165544
<class 'str'>
39980225.697518624
<class 'str'>
47547729.94319501
<class 'str'>
58745979.665650345
<class 'str'>
60755370.99139391
<class 'str'>
50460262.79229247
<class 'str'>
43263588.76395311
<class 'str'>
38768803.355597876
<class 'str'>
50312605.399138026
<class 'str'>
60755370.99139391
<class 'str'>
39686681.86311123
<class 'str'>
49638013.33638592
<class 'str'>
47973481.31499585
<class 'str'>
50460262.79229247
<class 'str'>
44171472.094198056
<class 'str'>
50312605.399138026
<class 'str'>
46825998.166687064
<class 'str'>
46825998.166687064
<class 'str'>
47547729.94319501
<class 'str'>
38716855.07865882
<class 'str'>
46825998.166687064
<class 'str'>
47973481.31499585
<class 'str'>
39686681.86311123
<class 'str'>
26705564.07138503
<class 'str'>
49935540.621165544
<class 'str'>
56806914.6809453
<class 'str'>
49935540.621165544
<class 'str'>
46825998.166687064
<class 'str'>
46825998.166687064
<class 'str'>
49087783.93988684
<class 'str'>
64469814.35716777
<class 'str'>
57598731.37849787
<class 'str'>
26705564.07138503
<class 'str'>
47287772.83552772
<class 'str'>
38716855.07865882
<class 'str'>
63376110.345195316
<class 'str'>
47287772.83552772
<class 'str'>
49638013.33638592
<class 'str'>
61968749.56155182
<class 'str'>
61968749.56155182
<class 'str'>
47287772.83552772
<class 'str'>
51506226.28525597
<class 'str'>
29156602.62903006
<class 'str'>
37032504.03405683
<class 'str'>
52539494.66481477
<class 'str'>
39925051.632210866
<class 'str'>
49911032.051784344
<class 'str'>
43263588.76395311
<class 'str'>
49087783.93988684
<class 'str'>
49087783.93988684
<class 'str'>
46825998.166687064
<class 'str'>
39686681.86311123
<class 'str'>
37032504.03405683
<class 'str'>
46676221.47744972
<class 'str'>
58745979.665650345
<class 'str'>
48127577.57077508
<class 'str'>
37032504.03405683
<class 'str'>
30433468.71504677
<class 'str'>
49087783.93988684
<class 'str'>
39159628.09075658
<class 'str'>
49638013.33638592
<class 'str'>
47973481.31499585
<class 'str'>
50312605.399138026
<class 'str'>
59969805.39289955
<class 'str'>
48127577.57077508
<class 'str'>
60755370.99139391
<class 'str'>
43263588.76395311
<class 'str'>
54378983.29962007
<class 'str'>
59969805.39289955
<class 'str'>
50312605.399138026
<class 'str'>
49638013.33638592
<class 'str'>
63376110.345195316
<class 'str'>
54378983.29962007
<class 'str'>
62793757.898789495
<class 'str'>
48127577.57077508
<class 'str'>
43263588.76395311
<class 'str'>
60996336.04866365
<class 'str'>
47287772.83552772
<class 'str'>
37032504.03405683
<class 'str'>
49638013.33638592
<class 'str'>
47287772.83552772
<class 'float'>
60996336.04866365
<class 'str'>
60996336.04866365
<class 'str'>
43263588.76395311
<class 'str'>
56806914.6809453
<class 'str'>
51506226.28525597
<class 'str'>
50460262.79229247
<class 'str'>
52539494.66481477
<class 'str'>
54378983.29962007
<class 'str'>
38716855.07865882
<class 'str'>
63376110.345195316
<class 'str'>
59969805.39289955
<class 'str'>
54378983.29962007
<class 'str'>
60996336.04866365
<class 'str'>
39980225.697518624
<class 'str'>
62793757.898789495
<class 'str'>
57598731.37849787
<class 'str'>

43263588.76395311
<class 'str'>
46825998.166687064
<class 'str'>
51506226.28525597
<class 'str'>
43263588.76395311
<class 'str'>
33099445.110467732
<class 'str'>
62384704.1409794
<class 'str'>
49911032.051784344
<class 'str'>
37032504.03405683
<class 'str'>
43263588.76395311
<class 'str'>
56806914.6809453
<class 'str'>
60755370.99139391
<class 'str'>
39980225.697518624
<class 'str'>
44171472.094198056
<class 'str'>
49911032.051784344
<class 'str'>
62384704.1409794
<class 'str'>
47547729.94319501
<class 'str'>
47973481.31499585
<class 'str'>
47287772.83552772
<class 'str'>
47547729.94319501
<class 'str'>
54378983.29962007
<class 'str'>
56806914.6809453
<class 'str'>
49087783.93988684
<class 'str'>
59969805.39289955
<class 'str'>
47287772.83552772
<class 'str'>
50460262.79229247
<class 'str'>
39401858.68795536
<class 'str'>
46825998.166687064
<class 'str'>
54378983.29962007
<class 'str'>
60755370.99139391
<class 'str'>
47287772.83552772
<class 'str'>
58003580.92707318
<class 'str'>
47973481.31499585
<class 'str'>
54378983.29962007
<class 'str'>
60996336.04866365
<class 'str'>
46825998.166687064
<class 'str'>
46825998.166687064
<class 'str'>
52539494.66481477
<class 'str'>
58003580.92707318
<class 'str'>
58745979.665650345
<class 'str'>
49911032.051784344
<class 'str'>
37292479.976284176
<class 'str'>
44171472.094198056
<class 'str'>
59969805.39289955
<class 'str'>
51506226.28525597
<class 'str'>
64469814.35716777
<class 'str'>
51506226.28525597
<class 'str'>
50312605.399138026
<class 'str'>
58745979.665650345
<class 'str'>
54378983.29962007
<class 'str'>
51506226.28525597
<class 'str'>
50312605.399138026
<class 'str'>
38768803.355597876
<class 'str'>
43263588.76395311
<class 'str'>
64469814.35716777
<class 'str'>
63376110.345195316
<class 'str'>
47547729.94319501
<class 'str'>
64749738.03888173
<class 'str'>
49911032.051784344
<class 'str'>
48127577.57077508
<class 'str'>
44171472.094198056
<class 'str'>
50312605.399138026
<class 'str'>
49638013.33638592
<class 'str'>
38313894.83855372
<class 'str'>
52539494.66481477
<class 'str'>
47547729.94319501
<class 'str'>
48127577.57077508
<class 'str'>
61968749.56155182
<class 'str'>
63376110.345195316
<class 'str'>
52539494.66481477
<class 'str'>
43263588.76395311
<class 'str'>
49911032.051784344
<class 'str'>
46825998.166687064
<class 'str'>
42230728.5781047
<class 'str'>
54378983.29962007
<class 'str'>
61968749.56155182
<class 'str'>
47287772.83552772
<class 'str'>
49638013.33638592
<class 'str'>
39159628.09075658
<class 'str'>
50460262.79229247
<class 'str'>
59969805.39289955
<class 'str'>
50460262.79229247
<class 'str'>
46825998.166687064
<class 'str'>
61968749.56155182
<class 'str'>
37586139.78761913
<class 'str'>
49087783.93988684
<class 'str'>
39686681.86311123
<class 'str'>
60996336.04866365
<class 'str'>
48127577.57077508
<class 'str'>
43263588.76395311
<class 'str'>
54378983.29962007
<class 'str'>
26705564.07138503
<class 'str'>
37586139.78761913
<class 'str'>
47973481.31499585
<class 'str'>
50312605.399138026
<class 'str'>
50460262.79229247
<class 'str'>
51506226.28525597
<class 'str'>
44171472.094198056
<class 'str'>
49638013.33638592
<class 'str'>
42230728.5781047
<class 'str'>
46825998.166687064
<class 'str'>
48127577.57077508
<class 'str'>
49911032.051784344
<class 'str'>
64469814.35716777
<class 'str'>
47287772.83552772
<class 'str'>
51506226.28525597
<class 'str'>
48127577.57077508
<class 'str'>
42230728.5781047
<class 'str'>
49638013.33638592
<class 'str'>
54378983.29962007
<class 'str'>
61968749.56155182
<class 'str'>
48127577.57077508
<class 'str'>
58745979.665650345
<class 'str'>
46825998.166687064
<class 'str'>
9068064.74586032
<class 'str'>
46825998.166687064
<class 'str'>
49911032.051784344
<class 'str'>
42323971.514816485
<class 'str'>
38313894.83855372
<class 'str'>
37586139.78761913
<class 'str'>
54378983.29962007
<class 'str'>
39980225.697518624
<class 'str'>
63376110.345195316
<class 'str'>
37586139.78761913
<class 'str'>
50312605.399138026
<class 'str'>
46825998.166687064
<class 'str'>
49911032.051784344
<class 'str'>
50460262.79229247
<class 'str'>
43263588.76395311
<class 'str'>
46825998.166687064
<class 'str'>
37292479.976284176
<class 'str'>
54378983.29962007
<class 'str'>
50460262.79229247
<class 'str'>
45146034.03536928
<class 'str'>
60755370.99139391
<class 'str'>
39980225.697518624
<class 'str'>
30433468.71504677
<class 'str'>
62384704.1409794
<class 'str'>
44171472.094198056
<class 'str'>
50460262.79229247
<class 'str'>
47547729.94319501
<class 'str'>
62793757.898789495
<class 'str'>
52539494.66481477
<class 'str'>
39159628.09075658
<class 'str'>
52539494.66481477
<class 'str'>
58745979.665650345
<class 'str'>
38716855.07865882
<class 'str'>
39980225.697518624
<class 'str'>
38716855.07865882
<class 'str'>
60996336.04866365
<class 'str'>
61968749.56155182
<class 'str'>
54378983.29962007
<class 'str'>
61968749.56155182
<class 'str'>
50460262.79229247
<class 'str'>
52539494.66481477
<class 'str'>
38716855.07865882
<class 'str'>
46825998.166687064
<class 'str'>
46825998.166687064
<class 'str'>
50312605.399138026
<class 'str'>
50460262.79229247
<class 'str'>
46825998.166687064
<class 'str'>
42230728.5781047
<class 'str'>
49911032.051784344
<class 'str'>
49087783.93988684
<class 'str'>
47547729.94319501
<class 'str'>
60996336.04866365
<class 'str'>
47287772.83552772
<class 'str'>
37032504.03405683
<class 'str'>
42230728.5781047
<class 'str'>
47973481.31499585
<class 'str'>
49087783.93988684
<class 'str'>
44171472.094198056
<class 'str'>
33099445.110467732
<class 'str'>
49638013.33638592
<class 'str'>
39686681.86311123
<class 'str'>
35383346.863543205
<class 'str'>
57598731.37849787
<class 'str'>
49911032.051784344
<class 'str'>
26188343.063667882
<class 'str'>
60996336.04866365
<class 'str'>
39686681.86311123
<class 'str'>
42230728.5781047
<class 'str'>
38768803.355597876
<class 'str'>
49911032.051784344
<class 'str'>
6218387.821298768
<class 'str'>
58745979.665650345
<class 'str'>
57598731.37849787
<class 'str'>
47547729.94319501
<class 'str'>
63806265.263503455
<class 'str'>
50460262.79229247
<class 'str'>
50460262.79229247
<class 'str'>
46825998.166687064
<class 'str'>
38768803.355597876
<class 'str'>
49911032.051784344
<class 'str'>
59969805.39289955
<class 'str'>
47973481.31499585
<class 'str'>
44171472.094198056
<class 'str'>
42230728.5781047
<class 'str'>
38716855.07865882
<class 'str'>
60755370.99139391
<class 'str'>
50460262.79229247
<class 'str'>
61968749.56155182
<class 'str'>
36461977.34455479
<class 'str'>
64469814.35716777
<class 'str'>
49911032.051784344
<class 'str'>
44171472.094198056
<class 'str'>
49911032.051784344
<class 'str'>
54378983.29962007
<class 'str'>
46676221.47744972
<class 'str'>
62793757.898789495
<class 'str'>
64469814.35716777
<class 'str'>
37586139.78761913
<class 'str'>
37586139.78761913
<class 'str'>
47973481.31499585
<class 'str'>
37032504.03405683
<class 'str'>
37586139.78761913
<class 'str'>
51506226.28525597
<class 'str'>
56944843.94387218
<class 'str'>
64469814.35716777
<class 'str'>
39401858.68795536
<class 'float'>
54378983.29962007
<class 'str'>
39159628.09075658
<class 'str'>
42230728.5781047
<class 'str'>
59969805.39289955
<class 'str'>
47547729.94319501
<class 'str'>
58003580.92707318
<class 'str'>
50460262.79229247
<class 'str'>
60996336.04866365
<class 'str'>
38768803.355597876
<class 'str'>
50460262.79229247
<class 'str'>
60755370.99139391
<class 'str'>
37586139.78761913
<class 'str'>
49935540.621165544
<class 'str'>
50460262.79229247
<class 'str'>
50460262.79229247
<class 'str'>
47287772.83552772
<class 'str'>
59969805.39289955
<class 'str'>
39686681.86311123
<class 'str'>
37586139.78761913
<class 'str'>
47547729.94319501
<class 'str'>
60755370.99139391
<class 'str'>
36461977.34455479
<class 'str'>
49911032.051784344
<class 'str'>
51506226.28525597
<class 'str'>
51506226.28525597
<class 'str'>
44171472.094198056
<class 'str'>
60996336.04866365
<class 'str'>
50460262.79229247
<class 'str'>
39686681.86311123
<class 'str'>
49638013.33638592
<class 'str'>
52539494.66481477
<class 'str'>
54378983.29962007
<class 'str'>
47973481.31499585
<class 'str'>
58003580.92707318
<class 'str'>
64469814.35716777
<class 'str'>
61968749.56155182
<class 'str'>
39686681.86311123
<class 'str'>

49911032.051784344
<class 'str'>
47973481.31499585
<class 'str'>
49911032.051784344
<class 'str'>
49911032.051784344
<class 'str'>
47287772.83552772
<class 'str'>
38716855.07865882
<class 'str'>
58003580.92707318
<class 'str'>
47973481.31499585
<class 'str'>
22306648.902329087
<class 'str'>
38313894.83855372
<class 'str'>
37032504.03405683
<class 'str'>
50460262.79229247
<class 'str'>
54378983.29962007
<class 'str'>
39159628.09075658
<class 'str'>
37586139.78761913
<class 'str'>
59969805.39289955
<class 'str'>
49911032.051784344
<class 'str'>
46825998.166687064
<class 'str'>
37586139.78761913
<class 'str'>
60996336.04866365
<class 'str'>
39686681.86311123
<class 'str'>
39980225.697518624
<class 'str'>
62793757.898789495
<class 'str'>
39980225.697518624
<class 'str'>
57598731.37849787
<class 'str'>
50312605.399138026
<class 'str'>
51506226.28525597
<class 'str'>
42230728.5781047
<class 'str'>
57598731.37849787
<class 'str'>
39522384.217369035
<class 'str'>
38768803.355597876
<class 'str'>
37586139.78761913
<class 'str'>
51506226.28525597
<class 'str'>
54378983.29962007
<class 'str'>
37032504.03405683
<class 'str'>
64469814.35716777
<class 'str'>
50312605.399138026
<class 'str'>
42230728.5781047
<class 'str'>
60996336.04866365
<class 'str'>
60755370.99139391
<class 'str'>
62384704.1409794
<class 'str'>
49087783.93988684
<class 'str'>
58003580.92707318
<class 'str'>
46825998.166687064